<%= form_for Comment.new do |f| %>
  <div class="field">
    <%= f.label :text %>
    <%= f.text_area :text %>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <div class="actions">
    <%= f.submit "Create Comment" %>
  </div>
<% end %>
