<div class="user-item">
  <div class="user-image">
    <% if @user.photo.present? %>
      <%= image_tag @user.photo, alt: @user.name, width: '100' %>
    <% else %>
      <%= image_tag 'profile-image.png', alt: @user.name, width: '100' %>
    <% end %>
  </div>
  <div class="user-info">
    <h2><%= @user.name %></h2>
    <div class="user-posts">
      <p>Number of Posts: <%= @user.posts_counter %></p>
    </div>
  </div>
</div>
<div class="bio">
  <h2>Bio</h2>
  <p><%= @user.bio %></p>
</div>
