<div class="user-item">
  <div class="user-image">
    <%= image_tag @user.photo, alt: @user.name, width: '100' %>
  </div>
  <div class="user-info">
    <h2><%= @user.name %></h2>
    <div class="user-posts">
      <p>Number of Posts: <%= @user.posts_counter %></p>
    </div>
  </div>
</div>
<div class="bio">
  <h2>Bio</h2>
  <p><%= @user.bio %></p>
</div>

<div class="posts">
  <% @user.recent_posts.each do |post| %>
    <div class="post">
      <h3><%= post.title %></h3>
      <p><%= post.text %></p>
      <div class="comment-likes-container">
        <p>Comments: <%= post.comments.count %></p>
        <p>Likes: y</p>
      </div>
    </div>
  <% end %>
</div>
<div class="all-posts-button">
  <%= link_to user_posts_path(@user) do %>
    <button>See All Posts</button>
  <% end %>
</div>
