<div class="post-details">
  <p><strong><%= @post.title %></strong> by <%= @user.name %></p>
  <p><%= @post.text %></p>
  <div class="comment-likes-container">
    <p>Comments: <%= @post.comments.count %></p>
      <p>Likes: y</p>
      <%= render 'likes/new', post: @post %>
  </div>
</div>

<div class="comment-container">
  <ul>
    <% @post.comments.each do |comment| %>
      <li>
         <p><strong><%= comment.user.name %>:</strong> <%= comment.text %></p>
      </li>
    <% end %>
  </ul>
</div>
